<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title th:text="${title}"></title>
  </head>
  <body>
    <div th:replace="~{fragments/main-menu}"></div>
    <p>Categories:</p>
    <ul>
      <li th:each="category : ${categoryDB}">
        <span th:text="${category.getName()}"></span>
        <a th:href="'/categoryDetail/'+${category.getId()}"
          >[details]</a
        >
        <a th:href="'/removeCategory/'+${category.getId()}">[x]</a>
        <a th:href="'/editCategory/' + ${category.getId()}"
          >[edit]</a
        >
      </li>
    </ul>
    <div th:replace="~{fragments/save-category}"></div>
  </body>
</html>
